<div class="col-md-3">
                            <div class="cloud-app">
                                <a href="https://sso.connect.pingidentity.com/sso/sp/initsso?saasid=d868cae6-469e-46a0-a861-e1e5030bd6ce&amp;idpid=8b29c4de-fb77-490c-bb80-545b5a2c50eb" target="_blank" title="" data-app-name="Atlassian - jira.msdf.org" data-toggle="tooltip" data-placement="top" data-original-title="Atlassian - jira.msdf.org">                                                           <img src="../../public/images/jira.png" alt="Atlassian - jira.msdf.org">
</a>
                            </div>
                        </div>