<h1>My First Attribute Directive</h1>
<h4>Pick a highlight color</h4>
<div>
  <input type="radio" name="colors" (click)="color='lightgreen'">Green
  <input type="radio" name="colors" (click)="color='yellow'">Yellow
  <input type="radio" name="colors" (click)="color='cyan'">Cyan
</div>
<p [myHighlight]="color" [defaultColor]="'violet'">Highlight me!</p>
<br>
<p *myUnless="condition">
  condition is false and myUnless shows
</p>

<p *myUnless="!condition">
  condition is true and myUnless hide
</p>